.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.profile-name {
    color: #fff;
    font-family: "Poppins";
    font-size: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover; 
    margin: 20px;
    border: 5px solid rgba(255, 192, 203, 0.144);
    outline: 0;
}